.hero-img {
        min-height: 70vh;
        background-image: url(https://images.unsplash.com/photo-1548502499-ef49e8cf98d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHBob3RvZ3JhcGh5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
        background-size: cover;
        background-position: center;
        margin-bottom: 10vh;
}
.bottom-space{
    margin-bottom:10vh;
}

.pro-img {  
    min-height: 30em;
    min-width: 30em;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}   

.text-pop {
    text-shadow: 1px 1px 5px #414141;
    color: white;
}

